.place-form-container {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
}

.place-list-header {
  background: #ffffff;
  text-align: center;
  padding: 3rem 15%;
}

.place-list-table {
  padding: 1rem 15%;
  text-align: center;
  background: #ffffff;
}

.place-general-info {
  text-align: center;
}

.place-location-info {
  text-align: center;
}

.place-search-bar {
  background: #ffffff;
  padding: 5rem 15%;
}
