@import "~antd/dist/antd.css";

.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #09d3ac;
}

.container {
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}

.footer {
  text-align: center;
  padding: 10px;
}

.column {
  float: left;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side,
  .column.middle {
    width: 100%;
  }
}

.menu {
  line-height: 64px;
}

.menu-right {
  float: right;
}

.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
