.trip-list-container {
  display: flex;
  flex-direction: column;
  padding: 0rem 15%;
  min-height: 70vh;
}

.trip-list-header {
  background: white;
  text-align: center;
  padding: 3vh;
}

.trip-list-options {
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem 0;
}
